<footer style="background-color: black; position: fixed; bottom: 0; width: 100vw;" class="footer">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <div class="content has-text-centered">
      <p>Copyright 2021 Work From Anywhere</p>
    </div>
  </footer>