<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body class= "main">
        <main>
            <h1 style= "color: blue" class="title">WORK FROM ANYWHERE</h1>
            <h2 style= " color: purple" class="subtitle">Hello</h2>
            <br><br>
            <a href="/denver"><img src="https://images.squarespace-cdn.com/content/v1/52991237e4b06b094787fe1d/1551636924167-JM14N68ZL3UBHRX8GV5D/ke17ZwdGBToddI8pDm48kMP-ZZvD22eVon8l8OgVSx4UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKchB_s_lSPOhlvrAn825I_D9ubi2zwRmU5bp0PYOVKC765VDnk5UarU3jFeYwb0-YV/denver-sunrise.jpg?format=2500w" alt="Denver" width="500" height="600"></a>
            <h1>DENVER</h1>
            <a href="/austin"><img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/austin-skyline-cityscape-at-night-dszc.jpg" alt="Austin" width="500" height="600"></a>
            <h1>AUSTIN</h1>
            <a href="/newyork"><img src="https://dailygazette.com/wp-content/uploads/fly-images/139027/fe69c29be60ca615760f6a70670076b8-940x940.jpg" alt="New York" width="500" height="600"></a>
            <h1>NEW YORK</h1>
        </main>
    </body>
</html>