<!DOCTYPE html>
<html>
    <head>
        <%- include("partials/head") %>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body class= "main">
        <%- include("partials/header") %>
        <main>
            <h1 style= "color: rgb(255, 248, 248)" class="title" class = "is-size-1">WORK FROM ANYWHERE</h1>
            <h2 style= " color: purple" class="subtitle">Hello</h2>
            <br><br>
            <div class="container" style="display: flex; flex-wrap: wrap; justify-content: center;">
            <a href="/denver"><img src="https://i.imgur.com/TwozZuM.jpg" alt="Denver" width="400" height="600"></a>
            <a href="/austin"><img src="https://i.imgur.com/s8hcXkW.jpg" alt="Austin" width="400" height="600"></a>
            <a href="/newyork"><img src="https://i.imgur.com/Gr3Nb6w.jpg" alt="New York" width="400" height="600"></a>
            <a href="/wip"><img src="https://i.imgur.com/l0VnMsG.jpg" alt="San Francisco" width="400" height="600"></a>
            <a href="/wip"><img src="https://i.imgur.com/z1bSWnt.jpg" alt="Nashville" width="400" height="600"></a>
            <a href="/wip"><img src="https://i.imgur.com/BpIR1QX.jpg" alt="Chicago" width="400" height="600"></a>
            <a href="/wip"><img src="https://i.imgur.com/Nht2INr.jpg" alt="Dallas" width="400" height="600"></a>
            <a href="/wip"><img src="https://i.imgur.com/G6D7dT1.jpg" alt="Atlanta" width="400" height="600"></a>
            <a href="/wip"><img src="https://i.imgur.com/HSAmfwg.jpg" alt="Seattle" width="400" height="600"></a>
            </div>
        </main>
        <%- include("partials/footer") %>
    </body>
</html>