<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header") %>
    <img src="https://i.pinimg.com/564x/dc/71/84/dc71843023bd4b73cbed65ac8932558b.jpg" alt="wip" >   
    <%- include("partials/footer") %>
</body>
</html>