<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <main>
      <%- include("../partials/header") %>
      <nav>
        <a href="/denver">DENVER LOCATIONS</a>
      </nav>
      <h1 style= "color: rgb(95, 199, 69)" class="title">NEW DENVER SPOT</h1>
      <form class="form" action="/denver" method="POST">
        <br/><br/>
        NAME: <input type="text" name="name" /><br/>
        ADDRESS: <input type="text" name="address" /><br/>
        HOURS: <input type="textarea" name="hours" /><br/>
        DAILY RATE: <input type="textarea" name="daily" /><br/>
        MARK IF MONTHLY RATE IS AVAILABLE: <input type="checkbox" name="monthly" /><br/>
        <input type="url" placeholder="Image of Spot" name="imageUrl" /><br/>
        <input type="submit" name="" value="Create Spot"/>
      </form>
    </main>
  <%- include("../partials/footer") %>
  </body>
</html>