<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head") %>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <%- include("../partials/header") %>
        <h1>New Review</h1>
            <form action="/denver/<%=Denver.id; %>/reviews/new" method="POST">
                NAME: <input type="text" name="reviewer" /><br/>
                RATE FROM 1 - 5: <input type="text" name="rating" /><br/>
                COMMENTS: <input type="text" name="comments" /><br/>
                <input type="submit" name="" value="Submit"/>
            </form>
    <%- include("../partials/footer") %>
    </body>
</html>