<!DOCTYPE html>
<html lang="en">


  <body>
    <main>
      <nav>
        <a href="/">HOME PAGE</a>
        <a href="/newyork">NEW YORK LOCATIONS</a>
    </nav>
      <h1 style= "color: rgb(69, 172, 43) " class="title">NEW NEW YORK SPOT</h1>
      <form action="/newyork" method="POST">
        <br/><br/>
        NAME: <input type="text" name="name" /><br/>
        ADDRESS: <input type="text" name="address" /><br/>
        HOURS: <input type="textarea" name="hours" /><br/>
        DAILY RATE: <input type="textarea" name="daily" /><br/>
        MARK IF MONTHLY RATE IS AVAILABLE: <input type="checkbox" name="monthly" /><br/>
        <input type="url" placeholder="Image of Spot" name="imageUrl" /><br/>
        <input type="submit" name="" value="Create Spot"/>
    </form>
    </main>
  </body>
</html>